html{
	font-family: Cambria, Georgia, serif;
	color: #fff;
}

.col{
	display: inline-block;
}

.col-50{
	width: 50%;
}

.col-55{
	width: 55%;
}

.col-45{
	width: 45%;
}

.hidden{
	display: none;
}

#main{
	background: url('../images/bg.jpg') no-repeat;
	width: 810px;
	height: 900px;
	overflow: hidden;
	padding-top: 85px;
	box-sizing: border-box;

	h1{
		text-indent: -99999px;
		margin: 0 0 0 auto;
	}

	.content{
		padding: 0 35px;

		.info{
			margin-top: 90px;

			ol{
				color: #a51b46;
				list-style-position: inside;
				
				li{
					background: url('../images/olBg.png') no-repeat;
					font-size: 24px;
					padding: 5px 25px;
					margin: 15px 0;

					.text{
						color: #fff;
					}
				}
			}
		}		
	}
}

#registro{
	#main{
		h1{
			background: url('../images/registroTitle.png');
			width: 329px;
			height: 99px;
		}

		.title{
			background: url('../images/regTitle.png') no-repeat;
			width: 239px;
			height: 63px;
			margin-bottom: 0;
		}

		#registrer{
			background: url('../images/formBg.png');
			width: 366px;
			height: 452px;
			box-sizing: border-box;
			padding: 0 50px;

			.field{
				input[type=text], input[type=email]{
					border: 0;
					background: none;
					border-bottom: #e9cf3b 1px solid;
					font-size: 20px;
					padding-bottom: 15px;
					margin-top: 15px;
					width: 100%;
					outline: 0;
				}

				input[type=file]{
					border-bottom: #e9cf3b 1px solid;
					padding-bottom: 15px;
					width: 100%;
					outline: 0;
				}

				input[type=submit]{
					background: url('../images/sendBtn.png') no-repeat;
					width: 114px;
					height: 63px;
					border: 0;
					outline: 0;
				}

				input.error{
					border-color: #E82A2A;
				}

				::-webkit-input-placeholder{
					color: #fff;
				}

				p{
					margin-bottom: 0;
				}

				.legal{
					margin: 0;
					font-size: 12px;
				}

				.col-50{
					vertical-align: middle;
				}

				&:last-child{
					margin-top: 15px;
				}
			}

			label.error{
				display: none !important;
			}
		}

		.col-50{
			vertical-align: top;
		}
	}
}

#upload{
	#main{
		h1{
			background: url('../images/uploadTitle.png') no-repeat;
			width: 365px;
			height: 76px;
		}

		.title{
			background: url('../images/ejemplo.png') no-repeat;
			width: 239px;
			height: 63px;
		}

		.col-55{
			vertical-align: top;
		}

		.wrap{
			width: 80%;
			margin: 0 auto;

			.descargaBtn{
				background: url('../images/descargaBtn.png') no-repeat;
				width: 141px;
				height: 63px;
				margin: 0 auto;
			}

			.uploadBtn{
				background: url('../images/cargarBtn.png') no-repeat;
				width: 141px;
				height: 63px;
				margin: 0 auto;
				cursor: pointer;
			}
		}

	}
}


#gallery{
	#main{
		h1{
			background: url('../images/galleryTitle.png') no-repeat;
			width: 342px;
			height: 74px;
			margin-top: 30px;
		}

		.header{
			text-align: right;
			margin: 0 0 15px 0;

			.col{
				vertical-align: top;
			}

			#search{
				color: #8a8a8a;
				border: 0;
				padding: 0;
				background: url('../images/searchBg.png');
				width: 195px;
				height: 25px;
				text-align: center;
				outline: 0;
				margin: 0 0 0 10px;
			}
		}

		.label{
			background: url('../images/labelBg.png') no-repeat;
			width: 241px;
			height: 217px;
			padding: 25px 25px 0;
			margin: 0px 2px;
			box-sizing: border-box;
			display: inline-block;

			.imgWrap{
				text-align: center;

				img{
					height: 115px;
					max-width: 191px;
				}
			}

			.name{
				color: #a51b46;
				text-align: center;
				margin: 5px 0 0 0;
				font-size: 14px;
			}

			.countBox{
				margin-top: 18px;
				text-align: center;

				.col{
					vertical-align: bottom;
				}				

				.num{
					margin: 0 0 0 10px;
					background: #fff;
					padding: 3px 10px;
					color: #9fa2a9;
					border: 1px solid #9fa2a9;
				}
			}
		}
	}
}

#pagination{
	text-align: center;
	margin: 40px 0 0 0;

	.pagination{
		padding: 0;
		margin: 0;

		li{
			list-style: none;
			display: inline-block;
			margin: 0 10px;

			a{
				color: #851638;
				text-decoration: none;

				&[rel=next], &[rel=prev]{
					color: #965166;
				}
			}
		}
	}
}